<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Lab 517</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon-blue.ico?v=3">
    <link rel="manifest" href="/static/manifest.json">

    <!-- Search Engine -->
    <meta name="description" content="Learn to code at our three-week boot camp. It starts October 15 and seats are limited, apply today!">
    <meta name="image" content="https://i.imgur.com/Z0DYTTp.png">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Code Lab 517">
    <meta itemprop="description" content="Learn to code at our three-week boot camp. It starts October 15 and seats are limited, apply today!">
    <meta itemprop="image" content="https://i.imgur.com/Z0DYTTp.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Code Lab 517">
    <meta name="twitter:description" content="Learn to code at our three-week boot camp. It starts October 15 and seats are limited, apply today!">
    <meta name="twitter:site" content="@lansingcodes">
    <meta name="twitter:creator" content="@lansingcodes">
    <meta name="twitter:image:src" content="https://i.imgur.com/Z0DYTTp.png">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Code Lab 517">
    <meta name="og:description" content="Learn to code at our three-week boot camp. It starts October 15 and seats are limited, apply today!">
    <meta name="og:image" content="https://i.imgur.com/Z0DYTTp.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta name="og:url" content="https://www.codelab517.com">
    <meta name="og:site_name" content="Code Lab 517">
    <meta name="fb:admins" content="1261535380,2335756">
    <meta name="fb:app_id" content="256070068088305">
    <meta name="og:type" content="website">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Merriweather:300,300italic,400,400italic,700" rel="stylesheet" type="text/css">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- CODE HIGHLIGHTING -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/vs2015.min.css" rel="stylesheet" type="text/css">

    <!-- LIGHT-WEIGHT GENERAL POLYFILL -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73509402-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-73509402-4');
    </script>
  </body>
</html>
