@import "tailwind/_preflight";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @apply .bg-image .bg-grey-lightest .text-black .font-light .font-serif;
  @apply .overflow-x-hidden;
}

body {
  @apply .leading-normal;
}

a {
  @apply .text-primary-lighter .no-underline;

  &:hover {
    @apply .text-primary-dark .underline;
  }

  &[name] {
    @apply .relative .text-primary-dark;

    &:hover:before {
      @apply .absolute;
      left: -0.8em;
    }
  }

  &.container-link {
    @apply .text-inherit;

    &:hover {
      @apply .text-inherit .no-underline;
    }
  }

  &:not(.button):not(.icon-link)[target=_blank]:not([href$=".jpg"]):not([href$=".jpeg"]):not([href$=".svg"]):not([href$=".png"]):not([href$=".gif"]) {
    &:after {
      @apply .bg-primary .external-link-image;
    }
  }
}

abbr,
abbr[title],
acronym,
acronym[title] {
  @apply .no-underline .border-none;
}

@import "layouts/_container";
@import "pages/_landing";

@import "tailwind/_utilities";

/* Custom utilities, https://tailwindcss.com/docs/adding-new-utilities */

.bg-image {
  background-image: config('files.background-image');
}

.external-link-image {
  content: '';
  -webkit-mask-image: config('files.external-link-image');
  display: inline-block;
  background-size: .7em;
  height: .7em;
  margin-left: 5px;
  width: .7em;
}

.pin-t-down {
  top: config('adjust.top-down');
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.trans-ease-all {
  transition: config('trans.ease-all');
}
