@import "tailwind/_preflight";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @apply .bg-image .bg-grey-lightest .text-black .font-light .font-serif;
  @apply .overflow-x-hidden;
}

body,
i.fa {
  @apply .leading-normal;
}

@import "pages/_landing";

@import "tailwind/_utilities";

/* Custom utilities, https://tailwindcss.com/docs/adding-new-utilities */

.bg-image {
  background-image: config('files.background-image');
}

.pin-t-down {
  top: config('adjust.top-down');
}

.trans-ease-all {
  transition: config('trans.ease-all');
}
