@tailwind preflight;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @apply .bg-image .bg-grey-lightest .text-black .font-light .font-sans .overflow-x-hidden;
}

body,
i.fa {
  line-height: 1.7;
}

@tailwind utilities;

/* Custom utilities, https://tailwindcss.com/docs/adding-new-utilities */

.bg-image {
  background-image: config('files.background-image');
}
